html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #fff;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

button {
  font-size: 1.6rem;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: #404040;
}

a:visited {
  color: #404040;
}

/* a:hover {
  color: #ff8000;
} */

.header {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.brand a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}

.header-links a{
  color: #fff;
  padding: 1rem;
  transition: color 0.3s;
}

.header-links i{
  font-size: 1.5em;
}

.header-links a:hover {
  color: #ff1e00;
}

footer {
  /* background: rgb(6,55,58); */
  /* background: linear-gradient(141deg, rgba(6,55,58,0.8015581232492998) 66%, rgba(10,15,15,1) 99%); */
  background-color: black;
  padding-bottom: 3rem;
}

.footer {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-container {
  margin: 5rem 0rem;
}

.footer-container p {
  font-size: 1.3rem;
}

.footer-container a {
  color: white;
  text-decoration: underline;
  transition: color .3s;
}

.footer-container a:hover {
  color: #ff1e00;
}

.copyright {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

/* Home Screen */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.products li {
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  list-style-type: none;
  padding: 0;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  background-color: #F4F4F4;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.6s;
}

.product:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
background-color: white;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10%;
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
  margin-left: 10%;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10%;
}

.product-image {
  max-width: 24rem;
  max-height: 24rem;
  margin-top: 20px;
}

.product-image-container {
  display: flex;
  justify-content: center;
}

.product-rating {
  margin-bottom: 1rem;
  margin-left: 10%;
}

/* REVIEWS */

ul.review {
  list-style-type: none;
  padding: 0;
}

.review li {
  margin-bottom: 2rem;
}

.review li > div {
  margin: 0.5rem;
}

/* RATING */

.rating span {
  color: #ffb901;
  font-size: 1.8rem;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

a > .rating > span:last-child {
  color: #0000ff;
}

/* SIDEBAR */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: black;
  height: 100%;
  color: white;
}

.sidebar h3 {
  margin-left: 12px;
}

.sidebar a{
  color: white;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar button {
  transition: all .3s;
}

.sidebar button:hover {
  background-color: #ff1e00;
  color: white;
}

.sidebar-close-button {
  background-color: #FFFDFD;
  border-radius: 50%;
  border: .1rem #000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
}

.sidebar ul {
  list-style: none;
}

/* PRODUCT DETAILS */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 45rem;
}

.details-image img {
  max-width: 45rem;
  width: 100%;
}

.details-info {
  flex: 1 1 30rem;
  margin-left: 15px;
  margin-right: 15px;
}

.details-action {
  flex: 1 1 30rem;
  border: .1rem #808080 solid;
  border-radius: .5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-info ul, .details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: .2rem teal solid;
  cursor: pointer;
  border-radius: .5rem;
  color: white;
}

.button:hover {
  border: .2rem #404040 solid;
}

.button.primary{
  background-color: black;
  transition: .3s all;
}

.button.primary:hover {
  background-color: #073B3F;
}

.button.secondary{
  background-color: #f0f0f0;
}

.text-center {
  text-align: center;
}

/* CART */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: #f8f8f8;
  border: .1rem #808080 solid;
  border-radius: .5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-image {
  flex: 1 1;
}

.cart-name {
  flex: 8 1;
}

.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* FORMS */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}

#category {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}

#description {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}

/* PRODUCTS */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* CHECKOUT STEPS */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-steps > div {
  border-top: .3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}

.checkout-steps > div.active {
  border-top: .3rem #f08000 solid;
  color: #f08000;
}

/* PLACE ORDER */

.placeorder {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action{
  flex: 1 1 20rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}

.placeorder-info > div {
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}

.profile-orders {
  flex: 3 1 60rem;
}

/* ADMIN */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: black;
  margin: 0;
  margin-top: 0.4rem;
}

.dropdown:hover .dropdown-content{
  display: block;
}

/* FILTER */
.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 5rem auto;
  max-width: 55rem;
  justify-content: space-between;
  align-items: center;
}

.filter input,
.filter select {
  padding: 15px;
  border-radius: .5rem;
  border: .1rem #c0c0c0 solid;
  font-size: 1.6rem;
}

.filter button {
  background-color: black;
  color: white;
  border-radius: .5rem;
}

.categories{
  padding: 0;
  list-style-type: none;
}

.categories a{
  display: flex;
  padding: 1rem;
  transition: all .3s;
}

.categories a:hover{
  background-color: #c0c0c0;
  color: #ff1e00;
}

.hide {
  display: none;
}

.hero {
  background: linear-gradient(141deg, rgba(0,232,251,.6) 14%, rgba(17,17,17,.6) 88%), url('./images/n64.jpg');
  background-repeat: no-repeat;
  height: 98vh;
  background-position: right;
    background-size: cover;
}

.hero-text {
  display: flex;
  height: 88vh;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  /* margin-left: 130px; */
  margin-left: 6%;
}

.hero-text h1 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.2;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
}

.hero-text p {
  font-size: 1.3em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
}

.hero-buttons button, .filter button {
  margin-right: 25px;
  border: none;
  background-color: #000;
  padding: 15px;
  transition: background-color 0.3s;
}

.hero-buttons button:hover, .filter button:hover {
  background-color: #ff1e00;
}

.hero-buttons a {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  padding: 15px;
}

.category-container h2 {
  color: white;
    text-align: center;
    margin: 0;
    padding: 5rem;
    font-size: 5rem;
    background: rgb(7,113,116);
    background: linear-gradient(0deg, rgba(7,113,116,1) 0%, rgba(17,17,17,1) 100%);
}

/* .chevron-container {
  display: flex;
  justify-content: center;
}

@keyframes example {
  0%   {color:black; left:0px; top:0px;}
  50%  {color:#ff1e00; left:200px; top:200px;}
  100% {color:black; left:0px; top:0px;}
}

.fa-chevron-down {
  font-size: 5rem;
  animation-name: example;
  animation-duration: 4s;
}

.category-container {
  height: 95vh;
} */

@media only screen and (max-width : 580px) {
  .hide {
    display: inline-block;
  }
  .header-links {
    display: none;
  }
}

@media only screen and (max-width : 980px) {
  .hero-text p {
    max-width: 75%;
  }
}

@media only screen and (max-width : 849px) {
  .hero-text p {
    color: white;  
  }
}

@media only screen and (max-width : 735px) {
  .hero {
    height: 60vh;
  }
  .hero-text {
    max-width: 80%;
    height: 55vh;
  }
  .hero-text h1 {
    font-size: 3rem;
    letter-spacing: 0;
  }
  .filter {
    justify-content: center;
  }
  .filter input{
    width: 15rem;
  }
  .filter select {
    width: 10rem;
    font-size: 1.2rem;
  }
  .filter li {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width : 403px) {
  .hero {
    height: 40vh;
  }
  .hero-text {
    max-width: 95%;
    height: 40vh;
  }
  .hero-text p {
    color: white;
    max-width: 95%;
  }
  .hero-buttons {
    display: none;
  }
  
  .filter li:last-of-type {
    display: none;
  }
  .footer div:last-child {
    display: none;
  }
}
